<!DOCTYPE html>
<html>
<head>
	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.min.css">
	<title>Nguyễn Xuân Đạt - Bán đồ da</title>
</head>
<body>
<!-- menu -->
<nav class="navbar navbar-expand-lg navbar-light bg-light " ">
    <div class="container ">
        <a class="navbar-brand" href="#">MY STORE</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
  
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="index.html">Trang Chủ <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link" href="product.html" id="navbarDropdown" >
                Sản Phẩm
              </a>
              <div class="dropdown-content">
                <a class="dropdown-item" href="#">Túi xách</a>
                <a class="dropdown-item" href="#">Giày</a>
                <a class="dropdown-item" href="#">Ví</a>
                <a class="dropdown-item" href="#">Balo</a>
              </div>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="detail.html">Chi Tiết <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Tin Tức</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Liên Hệ</a>
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Nhập tên sản phẩm" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
    </div>
  </nav>
<div class="container mb-5 mt-2">	
    <div class="row">
        <div class="col-md-6">
            <div class="card bg-dark text-dark">
                <img class="card-img" src="images/giaydaden.png" alt="Card image" style="max-height: 40rem;">
                <div class="card-img-overlay">
                  <h2 class="card-title">Giày Da Oxford </h2> <h5>(MSP: 01)</h5>
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <p class="card-text">2.949.000 ₫</p>
                </div>
              </div>
        </div>
        <div class="col-md-6">
            <div class="card bg-dark text-dark">
                <img class="card-img" src="images/vicardhenry.jpg" alt="Card image" style="max-height: 40rem;">
                <div class="card-img-overlay">
                  <h2 class="card-title">Ví Card Henry </h2> <h5>(MSP: 02)</h5>
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <p class="card-text">500.000 ₫</p>
                </div>
              </div>
        </div>
    </div>
</div>
<!-- Footer -->
<footer class="bg-dark text-center text-white">
	<div class="container p-4">
	  <section class="">
		<form action="">
		  <div class="row d-flex justify-content-center">
			<div class="col-auto">
			  <p class="pt-2">
				<strong>Đăng ký để nhận thông tin mới nhất</strong>
			  </p>
			</div>
  
			<div class="col-md-5 col-12">
			  <div class="form-outline form-white mb-4">
				<input type="email" id="form5Example2" class="form-control" />
				<label class="form-label" for="form5Example2">Địa Chỉ Email</label>
			  </div>
			</div>
  
			<div class="col-auto">
			  <button type="submit" class="btn btn-outline-light mb-4">
				Đăng Ký
			  </button>
			</div>
		  </div>
		</form>
	  </section>
	  <section class="mb-4">
		<p>
		  Cảm ơn quý khách hàng đã mua sắm tại MY STORE!
		</p>
	  </section>
  
	  <section class="">
		<div class="row">
		  <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
			<h5 class="text-uppercase">MY STORE Hà Nội</h5>
  
			<ul class="list-unstyled mb-0">
				<li>
					<a href="#!" class="text-white">Cơ sở 1: Đống Đa, HN</a>
				  </li>
				  <li>
					<a href="#!" class="text-white">Cơ sở 2: Hai Bà Trưng, HN</a>
				  </li>
			</ul>
		  </div>

		  <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
			<h5 class="">Chi Nhánh Hải Phòng</h5>
  
			<ul class="list-unstyled mb-0">
			  <li>
				<a href="#!" class="text-white">Cơ sở 1: Hồng Bàng, HP</a>
			  </li>

			</ul>
		  </div>

		  <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
			<h5 class="text-uppercase">MY STORE Hồ Chí Minh</h5>
  
			<ul class="list-unstyled mb-0">
				<li>
					<a href="#!" class="text-white">Cơ sở 1: Quận 1, HCM</a>
				  </li>
				  <li>
					<a href="#!" class="text-white">Cơ sở 2: Quận Tân Bình, HCM</a>
				  </li>
			</ul>
		  </div>
  
		  <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
			<h5 class="text-uppercase">Chính Sách</h5>
  
			<ul class="list-unstyled mb-0">
			  <li>
				<a href="#!" class="text-white">Chính sách đổi trả</a>
			  </li>
			  <li>
				<a href="#!" class="text-white">Chính sách bảo hành</a>
			  </li>
			  <li>
				<a href="#!" class="text-white">Chính sách bảo mật</a>
			  </li>
			</ul>
		  </div>
		</div>
	  </section>
	</div>
  
	<div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
	  © 2020 Copyright:
	  <a class="text-white" href="#">Nguyễn Xuân Đạt - 11180918</a>
	</div>
  </footer>

<!-- Load jquery trước khi load bootstrap js -->
<script src="jquery-3.3.1.min.js"></script>
<script src="bootstrap/js/bootstrap.min.js"></script>
</body>

</html>